<ol class="breadcrumb newcrumb">
    <li><a href="#!/"><span><i class="fa fontello-home-outline"></i></span>主页</a></li>
    <li><a href="#!/UserAdmin/userAdmin">用户列表</a></li>
    <li class="active">修改用户</li>
</ol>
<!-- 添加项目html -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">修改用户信息</h3>
            </div>
             <form class="loginForm form-horizontal" id="editAdmin" action="../puser/updateById" method="post" onsubmit="return validateCallback(this)" novalidate>
             	<div class="box-bodyed">
                 	<input type="hidden" name="userid" value="{{userData.userid}}">
                 	<div class="form-group">
                    	<label for="loginEmail"><span class="red">*</span>登录邮箱</label>
                    	<input type="text" class="form-control" name="email" id="loginEmail" placeholder="请输入登录邮箱" required value="{{userData.email}}" readonly>
                	</div>
                	<div class="form-group">
                    	<label for="userName"><span class="red">*</span>用户电话</label>
                    	<input type="text" class="form-control" name="tel" id="userName" placeholder="请输入用户电话" required value="{{userData.tel}}">
                	</div>
                	<div class="form-group">
                    	<label><span class="red">*</span>用户姓名</label>
                        <input type="text" class="form-control"  name="name" placeholder="请输入用户姓名" required value="{{userData.name}}">
                	</div>
                	<div class="form-group">
                   		<label for="userUnit"><span class="red">*</span>用户单位</label>
                        <input type="text" class="form-control" id="userUnit" name="company"  placeholder="请输入用户单位" required value="{{userData.company}}">
                	</div>
                	<div class="form-group">
                    	<label for="userDepartment"><span class="red">*</span>用户部门</label>
						<select class="form-control" id="userDepartment"  name="departmentid">
							<option  ng-repeat="x in listDepartment" value="{{x.departmentid}}"  ng-selected="userData.departmentid==x.departmentid">{{x.departmentname}}</option>
						</select>
                	</div>
                	<div class="form-group">
                    	<label for="userJob"><span class="red">*</span>职位职称</label>
                    	<input type="text" class="form-control" id="userJob" name="job" placeholder="请输入用户的职位职称" required value="{{userData.job}}" >
                	</div>
                	<div class="form-group">
                    	<label for="userRoles">用户角色</label>
                    	<select class="form-control" id="userRoles"  name="roleid">
                 			<option  ng-repeat="x in listChoose" value="{{x.roleid}}" ng-selected="userData.roleid==x.roleid">{{x.rolename}}</option>
                    	</select>
                	</div>
                </div> 
               	<div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="addAdminCommit" ng-click = "">提交</button>　
                    <a type="btn" class="btn btn-danger" id="addAdminSubmit" href="#!/UserAdmin/userAdmin">返回列表</a>
                </div>
               
            </form>
        </div>

        </div>
    </div>
</div>